@mixin container {
  max-width: 128.5rem;
  width: 100%;
  margin: 0 auto;
}

.container {
  @include container;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 12rem;
  box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.08);
}

//countries
.countries {
  background-color: var(--color-very-light-gray);
  min-height: 90vh;
  padding: 3rem 0;

  &__flags {
    margin-top: 3rem;
  }
}

//form
// .search-form {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.forms-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
